---
layout: bootcamp
root: .
venue:  G07, Royal School of Mines, Imperial College London
address: Prince Consort Road, South Kensington Campus, London SW7 2AZ
country: United-Kingdom
humandate: Jun 02-03, 2014
humantime: 9:00 am - 17:00 pm
startdate: 2014-06-02
enddate: 2014-06-03
latlng: 51.499715,-0.174904
registration: restricted
instructor: ["Gerard Gorman", "Christian Jacobs"]
contact: g.gorman@imperial.ac.uk
---
<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
    Please use three-letter month names for the 'humandate' field.
-->

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->
{% if page.eventbrite %}
<iframe src="http://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}

<h2>General Information</h2>

<p>
  <a href="http://software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
  This two-day hands-on bootcamp will cover basic concepts and tools;
  participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at 1st year geophysicists and geologists.
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
<p>
  <strong>Requirements:</strong>
  Participants must bring a laptop with a few specific software packages installed
  (listed below).
</p>

-->

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
    Edit this block to show the syllabus and schedule for your bootcamp.
-->
<h2>Schedule</h2>

<table class="table table-striped">
  <tr> <td>Monday</td>  <td>09:00</td>  <td><a href='http://ggorman.github.io/2014-06-02-icl-geo/novice/shell/'>The Unix shell - part I</a></td> </tr>
  <tr> <td></td>        <td>12:00</td>  <td>Lunch break</td> </tr>
  <tr> <td></td>        <td>14:00</td>  <td><a href='http://ggorman.github.io/2014-06-02-icl-geo/novice/shell/'>The Unix Shell - part II</a></td> </tr>
  <tr> <td></td>        <td>16:30</td>  <td>Wrap-up</td> </tr>
  <tr> <td>Tuesday</td> <td>09:00</td>  <td><a href='http://ggorman.github.io/2014-06-02-icl-geo/novice/git>'>Version control with Git - part I</a></td> </tr>
  <tr> <td></td>        <td>12:00</td>  <td>Lunch break</td> </tr>
  <tr> <td></td>        <td>14:00</td>  <td><a href='http://ggorman.github.io/2014-06-02-icl-geo/novice/git>'>Version control with Git - part II</a></td> </tr>
  <tr> <td></td>        <td>16:30</td>  <td>Wrap-up</td> </tr>
</table>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  Everything you need is already installed in the computer lab, and on the
  ESE student linux servers - student.ese.ic.ac.uk and student2.ese.ic.ac.uk.
  However, if you want to install any of the software on your own computer you
  can find instillation instructions below.
</p>

{% include setup.html %}
